!!! 5
html
    body
        h1 Your social poll for #{product} has closed!
        p
            | The results are
            strong negative!
        p
            | Thanks,
            br
            | Social Polling Team

