!!! 5
html
    body
        h2 Your poll results are in!
        p Your poll for #{product} is finished.
        h3 Looks like your friends think you should buy it!
        p
            a(href='#{product_url}') Go back to #{vendor} and buy it!
        p
            | Thanks,
            br
            | Social Polling Team

